// registry
// --------
// Mirror npm registry that has cached all dependencies  (npm_lazy server)
// Hexacta developers should add this entry in host file "10.60.1.48 proteus_npm.axioma.com"
// Axioma developers should add this entry in host file "172.19.1.172 proteus_npm.axioma.com"


//All depedencies are going to be saved in package.json using an exact version
save-exact = true